.container {
  padding: 20px;
}

.titulo {
  font-size: 26px;
  font-weight: 600;
}

.subtitulo {
  color: #555;
  margin-bottom: 20px;
}

.btn-container {
  margin-bottom: 15px;
}

.full-width-table {
  width: 100%;
}
