<div class="container mat-elevation-z8">

  <h1>Listando Chamados</h1>

  <!-- O CAMPO DE BUSCA FOI REMOVIDO DAQUI -->

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="titulo">
      <th mat-header-cell *matHeaderCellDef> Título </th>
      <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
    </ng-container>

    <ng-container matColumnDef="cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
    </ng-container>

    <ng-container matColumnDef="tecnico">
      <th mat-header-cell *matHeaderCellDef> Técnico </th>
      <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
    </ng-container>

    <ng-container matColumnDef="dataAbertura">
      <th mat-header-cell *matHeaderCellDef> Data Abertura </th>
      <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
    </ng-container>

    <ng-container matColumnDef="prioridade">
      <th mat-header-cell *matHeaderCellDef> Prioridade </th>
      <td mat-cell *matCellDef="let element"> 
        <span class="badge prioridade-{{element.prioridade}}">
          {{ retornaPrioridade(element.prioridade) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let element"> 
        <span class="badge status-{{element.status}}">
          {{ retornaStatus(element.status) }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef> Ações </th>
      <td mat-cell *matCellDef="let element">
        <a routerLink="update/{{element.id}}" class="edit">
          <mat-icon>edit</mat-icon>
        </a>
        <a routerLink="read/{{element.id}}" class="view">
          <mat-icon>visibility</mat-icon>
        </a>
        <a routerLink="delete/{{element.id}}" class="delete">
          <mat-icon>delete</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button routerLink="create" mat-fab color="primary" class="btn-create">
    <mat-icon>add</mat-icon>
  </button>

</div>